<ul class="nav flex-column">
    <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a class="nav-link" routerLink="/">Home</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" href="#">Login</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" href="#">Register</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" href="#" routerLink="/kunder">Customers</a>
    </li>
</ul>